@import 'reset.css';
@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  appearance: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  color: var(--color-dark);
  overflow-x: hidden;
  user-select: none;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 0.87rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
}

h5 {
  font-size: 0.77rem;
  font-weight: 300;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
  font-weight: 700;
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  margin: 0 auto;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto ;
}

/* ========== SIDEBAR ========== */
aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
  
}

aside .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

aside .logo img {
  height: 3rem;
  width: 3rem;
}

aside .close {
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  gap: 1rem;
  height: 3.7rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: relative;
  bottom: 0rem;
  width: 100%;
}

#eye_btn{
  border: none;
  background: transparent;
  opacity:  0;
  cursor: pointer;
}

.product_order:hover #eye_btn{
  opacity: 1;
}

/* .order_product {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9991;
  background-color: rgba(0, 0, 0, .8);
  visibility: hidden;
  transform: scale(0);
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  transition: visibility .4s ease-in-out, transform .4s ease-in-out
} */


.order_product::-webkit-scrollbar {
  width: 0
} 





.order_product {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  z-index: 999; /* Ensure the modal is on top */
  visibility: hidden; /* Hide the modal by default */
}

.modal_centered {
  width: 100% !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center
}

.close_btn {
  width: 3rem;
  height: 3rem;
  /* background-color: blue; */
  border: solid rgb(255, 255, 255) 3px;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 5%;
   display: grid; 
 place-items:  center;
  cursor: pointer;
  color: white;
}


.close_btn > span {
 width: 80%;
 height: 4px;
 background-color: rgb(255, 255, 255);
 z-index: 9995;
 position: absolute;
 opacity: .5;
transition: opacity .4s ease
}

.close_btn > span:first-child {
 transform: rotate(45deg);
}

.close_btn > span:last-child {
 transform: rotate(-45deg);
}

.close_btn:hover>span:first-child,
.close_btn:hover>span:last-child {
    opacity: 1;
 background-color: rgb(0, 0, 0);

    animation: rotate .4s cubic-bezier(.175, .885, .32, 1.275)
}

@keyframes rotate {
    0% {
        transform: rotate(0);
 background-color: rgb(0, 0, 0);

    }
}

.containers{
  background-color: transparent;
  /* width: 100%; */
/* display: flex;
justify-content: center;
align-items: center;
position: relative; */
overflow: hidden;
z-index: 9999;
padding: 2rem;
margin-left: auto;
margin-right: auto;
}

.col-12{
  flex: 0 0 auto;
  width: 100%;
}

.product_lightbox {
  width: 35%;
  background-color:black;
  /* padding: 1.25rem .625rem 2.5rem; */
  user-select: none
}


/* .product_title{

padding: 1rem;
} */


.product_title>h6 {
  font-size: 1.2rem;
  letter-spacing: .4px;
  color: #bbb
}


.product_title>h4 {
  font-size: 3rem;
}



.product_details {
  width: 60%;
  background-color: white;
  padding: 2rem;
  position: relative
}

.product_swiper .swiper-slide>img,
.thumb_swiper .swiper-slide>img {
    display: block;
    object-fit: cover;
    margin: 0 auto
}

.product_swiper .swiper-slide>img {
  width: 300px;
  height: 100%
}

.thumb_swiper .swiper-slide>img {
  width: 100px;
  height: 100%
}

.product_price {
  margin: 15px 0 15px
}

.product_price>b {
  font-size: 1.56rem;
  color: rgb(19, 19, 19);
}

.shipping_details{
  width: 90%;
  height: 50%;
  background-color: gray;
  color: white;
  padding: 15px;
  font-size: 5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
  margin:0px 0 23px ;
  margin-right: 23rem;
  
}

.shipping_details div h4{
  font-size: 2rem;
  font-weight: 200;
}

.shipping_details b{
  font-size: 2rem;
  font-weight: 500;
}


.shipping_details div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.product_features {
  margin-top: 40px
}

.product_features>h5 {
  letter-spacing: .8px;
  font-size: 1.5rem
}

.product_features>ul {
  list-style-type: disc
}

.product_features>ul>li {
  font-size: 1rem;
  line-height: 30px;
}

section{
  position: relative;
}

.product_swiper {
  padding-bottom: 70px;
}

/* .thumb_swiper {
  margin-top: 2.5rem;
} */
 



.product_modal_wrapper{
  display: flex;
  width: 90% !important;
  /* height: 90% !important; */
  justify-content: center;
  flex-wrap: wrap;

}



aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background-color: var(--color-danger);
  border-radius: var(--border-radius-1);
  color: var(--color-white);
  font-size: 0.688rem;
  padding: 0.125rem 0.5rem;
}

/* ========== MAIN SECTION ========== */
main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  background-color: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
  background-color: transparent;
  border: none;
  color: var(--color-dark);
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
}

main .insights {
  display: grid;
  gap: 1.6rem;
  grid-template-columns:  1fr;
}

main .insights > div {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.expenses span {
  background-color: var(--color-danger);
}

main .insights > div.income span {
  background-color: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  font-size: 1rem;
  margin: 1rem 0 0.6rem;
}

main .insights .progress {
  position: relative;
  border-radius: 50%;
  height: 5.75rem;
  width: 5.75rem;
}

main .insights svg {
  height: 7rem;
  width: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(6px, 6px);
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .insights small {
  display: block;
  margin-top: 1.3rem;
}

/* ========== RECENT ORDERS ========== */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  text-align: center;
  width: 100%;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table thead th {
  font-weight: 600;
  padding: var(--padding-1);
}

main table tbody td {
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  padding: 1rem;
}

main table tbody tr:last-child td {
  border: none;
  padding-bottom: 1.4rem;
}

main .recent-orders a {
  color: var(--color-primary);
  display: block;
  margin: 1rem auto;
  text-align: center;
}

/* ========== RIGHT SECTION ========== */
.right {
  margin-top: 1.4rem;
}

main .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

main .top button {
  display: none;
}

main .theme-toggler {
  background-color: var(--color-light);
  border-radius: var(--border-radius-1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.6rem;
  width: 4.2rem;
}

main .theme-toggler span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 100%;
  width: 50%;
}

main .theme-toggler span.active {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-1);
  color: white;
}

main .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* ========== RECENT UPDATES ========== */
.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
}

.right .recent-updates .updates .update {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2.8rem auto;
  margin-bottom: 1rem;
}

/* ========== SALES ANALYTICS ========== */
.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background-color: var(--color-white);
  border-radius: var(--border-radius-3);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.right .sales-analytics .item .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  padding: 0.6rem;
}

.right .sales-analytics .item.offline .icon {
  background-color: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
  background-color: var(--color-success);
}

.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  justify-content: center;
}

.right .sales-analytics .add-product:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
  }
  aside {
    height: auto;
    position: static;
    top: auto;
    margin-bottom: 1.4rem;
  }

  main {
    margin-top: 0;
  }

  /* Hide certain elements */
  aside .close {
    display: block;
  }

  /* Adjust other styles as needed */
}

@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 100%;
  }

  /* Adjust styles for sidebar and main section */
  aside {
    height: auto;
    position: static;
    top: auto;
    margin-bottom: 1.4rem;
  }

  main {
    margin-top: 0;
  }

  /* Hide certain elements */
  aside .close {
    display: block;
  }

  /* Adjust other styles as needed */
}