<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cam Cart Customers</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="customers-main/css/styles.css" />
    <link rel="stylesheet" href="customers-main/css/responsive.css" />
</head>

<body>
    <div class="container">
        <!-- ========== Sidebar ========== -->

        <aside>
            <div class="top">
                <div class="logo">
                    <img src="customers-main/img/cam-cart-high-resolution-logo-black-transparent.svg" />
                    <h2>Cam<span class="danger">Cart</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/dashBoard">
                    <span class="material-icons-sharp"> grid_view </span>
                    <h3>Dashboard</h3>
                </a>

                <a href="/customers" class="active">
                    <span class="material-icons-sharp"> person_outline </span>
                    <h3>Customers</h3>
                </a>

                <a href="/products">
                    <span class="material-icons-sharp"> photo_camera </span>
                    <h3>Products</h3>
                </a>

                <a href="/order_List">
                    <span class="material-icons-sharp"> receipt_long </span>
                    <h3>Orders</h3>
                </a>

                <a href="/payments">
                    <span class="material-icons-sharp"> paid </span>
                    <h3>Payments</h3>
                  </a>

                  <a href="/StockDetails">
                    <span class="material-icons-sharp"> inventory_2 </span>
                    <h3>Stock Details</h3>
                  </a>



                <!-- <a href="#">
            <span class="material-icons-sharp"> insights </span>
            <h3>Analytics</h3>
        </a> -->


                <a href="/inbox">
                    <span class="material-icons-sharp"> mail_outline </span>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>

                <a href="/salesReport">
                    <span class="material-icons-sharp"> assignment </span>
                    <h3>Sales Reports</h3>
                  </a>



                <a href="/addProduct">
                    <span class="material-icons-sharp"> add </span>
                    <h3>Add Product</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp"> logout </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <!-- ========== Main section ========== -->
        <main>
            <h1>Customers List</h1>
            <div class="date">
                <input type="date" id="date-picker" />
            </div>
            <div class="insights">
                <!-- ---------- Sales ---------- -->
          <% newprofile.forEach(profile=> { %>
               
                <div class="sales">
                    <div class="middle">
                        <div class="left">
                            <h3> phone number </h3>
                            <h1> <%= profile.name%> </h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> <%= profile.email%> </small>
                </div>

          <% }) %>
                

                
            </div>

            <!-- ---------- Recent orders ---------- -->
            
        </main>

        <!-- ========== Right section ========== -->
        <div class="right">
            <!-- ---------- Top ---------- -->
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp"> menu </span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active"> light_mode </span>
                    <span class="material-icons-sharp"> dark_mode </span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Daniel</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="customers-main/img/profile-1.jpg" alt="Daniel" />
                    </div>
                </div>
            </div>

            <!-- ---------- Recent updates ---------- -->
           

            <!-- ---------- Sales analytics ---------- -->
            
        </div>
    </div>

    <script src="customers-main/js/orders.js"></script>
    <script src="customers-main/js/index.js"></script>
</body>

</html>