<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart - Cam Cart</title>
    <!--===== Designed & Built by : Kiran Kumar =====-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/icons/fav-icon.png" type="image/x-icon">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- Swiper Slider -->
    <link rel="stylesheet" href="assets/swiper/swiper-bundle.min.css">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Main Stylesheets  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!--============== Preloader ==============-->
    <div id="preloader">
        <div class="loader"></div>
        <span class="loader_text">Loading...</span>
    </div>
    <!-- /Preloader -->

    <!--============== main ==============-->

    <main>
        <section id="review" class="product_review_model">
            <div class="modal_centered">
                <div class="container">
                    <div class="row justify-content-center  align-items-center">
                        <div class="col-xxl-10 col-xl-11 col-12">
                            <div class="row product_modal_wrapper">

                            </div>

                        </div>

                    </div>
            </div>



                </div>
        </section>
    </main>
   

    <!--============== Javascript Files ==============-->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>